.portfolio{
    margin-top: 15%;
    width: 45vw;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    border-bottom: 1px solid #30363a;
}

.portfolio p{
    margin-top: 6px;
    font-size: .9em;
}

.portfolio-cash-percent{
    display: flex;
}

#timeframe{
    margin-left: 4px;
    color: #919fa6;
}

.portfolio-numbers{
    margin-bottom: 5%;
}

.portfolio h1{
    color: white;
    font-size: 2em;
    font-family: Arial;
    font-weight: 200;
}

.portfolio button{
    background-color: black;
    padding: 0;
    margin-right: 1.5%;
    padding-bottom: 6px;
    border: none;
    color: white;
}

.activated.red{
    color: #f14c01;
    border-bottom: 2px solid #f14c01;
}

.portfolio.red button:hover{
    color: #fa7e45;
    background-color: transparent;
}

.portfolio.green button:hover{
    color: #00c806;
    background-color: transparent;
}

.activated.green{
    color: #00c806;
    border-bottom: 2px solid #00c806;
}