.portfolio{
    margin-top: 15%;
    width: 45vw;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
    border-bottom: 1px solid #30363a;
}

.portfolio-numbers{
    margin-bottom: 5%;
}

.portfolio h1{
    color: white;
    font-size: 2em;
    font-family: Arial;
    font-weight: 200;
}

.portfolio button{
    background-color: black;
    padding: 0;
    margin-right: 1.5%;
    padding-bottom: 6px;
    border: none;
    color: white;
}

.portfolio .activated{
    color: #EE4E34;
    border-bottom: 2px solid #EE4E34;
}