.search-container{
    color: white;
    font-family: avenir;
}

.search-container p{
    font-size: .8em;
}

.stock-row{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

.stock-row:hover{
    background-color: lightgray;
}
.search-stock-ele{
    width: 20%;
}

.search-stock-ele.red b{
    color: #f14c01;
}
.search-stock-ele.green b{
    color: #00c806;
}

.search{
    width: 30%;
    height: auto;
    border: 1px solid #30363a;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 12px;
    margin-left: 10%;
    flex-direction: column;
    padding-left: 1%;
}

.fas.fa-search{
    color: #919fa6;
}

.search:hover{
    background-color: rgb(32, 32, 32);
}

.search-bar{
    display: flex;
    align-items: center;
}

.search:hover{
    background-color: rgb(32, 32, 32);
}

.search input{
    color: white;
    padding-left: 2%;
    caret-color: white;
    outline: none;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 30px;
}