.stocks-page{
    background-color: black;
}

.stocks-page h1{
    font-family: avenir;
    font-weight: 500;
    font-size: 2em;
    color: white;
    margin-bottom: 2%;
}

.stocks-page h2{
    font-family: avenir;
    font-size: 1.5em;
    color: white;
    margin-bottom: 3%;
}
.stocks-page p{
    font-family: avenir;
    font-size: 1em;
    color: white;
}

.stock-info{
    display: flex;
    width: 650px;
    flex-direction: column;
    margin-left: 12%;
    margin-top: 3%;
}

.stocks-page-chart{
    margin-bottom: 4%;
}

.stocks-page-chart button{
    margin-right: 3%;
    background-color: black;
    border: none;
    color: white;
}

.stocks-page-chart button:hover{
    color: red;
}

.stock-page-description{
    margin-bottom: 6%;
}
.stock-page-section{
    border-top: 1px solid gray;
    padding-top: 3%;;
}

.hr{
    width: 100%;
    border-bottom: 1px solid gray;
}